@import "src/Style/variables";

.tooltip-lineChart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 25px;
  font-size: 8px;
  border: solid white;
  background-color: white;
  color: black;
}

.lineChart {
  display: flex;
  background: $primaryColor;
  align-items: center;
  width: 300px;
  height: 263px;
  &__title {
    & text {
      font-size: 15px;
      font-weight: 500;
      line-height: 24px;
    }
  }
}
